/* CSS Document */

body
{
  line-height: 1;
  color: black;
  background: white;
  font-size: 80%;
  text-align: center;
#  font-family: Lucida Grande,Helvetica,Arial,Verdana,sans-serif;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 920px;
}

ul {
    list-style: none;
}

.clearboth {
    clear: both;
}

.banner
{
  background-color: white;
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: left;
}

#nav {
    font-size: 78%;
    float: left;
    width: 100%;
    text-align: center;
    background-color: #222;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}

#nav ul {
	margin: 0 auto;
	text-align: left;
}

#nav li {
	float: left;
}

#nav li a:link, #nav li a:visited, #nav li a:active {
	display: block;
	padding: 13px 13px 13px 15px;
	font: 1.3em Arial, Helvetica, Geneva, sans-serif;
	color: #ccc;
	text-decoration: none;
	text-transform: uppercase;
}

#nav li a:hover, #nav li:hover > a {
	color: #fff;
	text-decoration: none;
	background-color: #474747;
}

#main {
  border-style: solid;
  border-color: #222;
  border-width: 10px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

.content
{
  float: left;
  padding-left: 3em;
  padding-right: 1em;
  text-align: left;
  width: 60%;
  padding-top: 20px;
}

.content ul {
    list-style: disc;
    font-size: 120%;
}

.content td {
    font-size: 120%;
}

.content a:link, .content a:visited, .content a:active {
	text-decoration: none;
	border-bottom: 1px solid #ddd;
}

.content a:hover {
	
}

.content h1 {
	margin-bottom: .65em;
	font-size: 2em;
	line-height: 1.2em;
}

.content h2 {
	margin-bottom: 1em;
	font-size: 2em;
	line-height: 1.2em;
}

.content h3 {
	margin: 2em 0 1em;
	padding-bottom: 5px;
	font-size: 1.6em;
	line-height: 1em;
	border-bottom: 1px solid #ddd;
}

.content h4 {
	margin-bottom: .25em;
	font-size: 1.5em;
	line-height: 1em;
}

.content h5 {
	margin-bottom: 1em;
	padding-bottom: 5px;
	font-size: 1.4em;
	line-height: 1em;
	border-bottom: 1px solid #ddd;
}

.content h6 {
	margin-bottom: .25em;
	color: #000;
	font-size: 1.3em;
	line-height: 1em;
}

.content h1 a:link, .content h1 a:visited, .content h1 a:active, .content h2 a:link, .content h2 a:visited, .content h2 a:active, .content h3 a:link, .content h3 a:visited, .content h3 a:active, .content h4 a:link, .content h4 a:visited, .content h4 a:active, .content h6 a:link, .content h6 a:visited, .content h6 a:active {
	text-decoration: underline;
	border-bottom: 0;
}

.content h1 a:hover, .content h2 a:hover, .content h3 a:hover, .content h4 a:hover, .content h5 a:hover, .content h6 a:hover {
	
}

.content p {
    margin-bottom: 1.4em;
    font-size: 1.2em;
    line-height: 1.3em;
}

.content a:link, .content a:visited, .content a:active { color: #3333FF; }
.content a:hover { color: #000; border-bottom: 1px solid #3333FF; }
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 { color: #0000FF; font-family: Georgia, Times New Roman, Times, serif; font-weight: bold; }
.content h1 a:link, .content h1 a:visited, .content h1 a:active, .content h2 a:link, .content h2 a:visited, .content h2 a:active, .content h3 a:link, .content h3 a:visited, .content h3 a:active, .content h4 a:link, .content h4 a:visited, .content h4 a:active, .content h5 a:link, .content h5 a:visited, .content h5 a:active, .content h6 a:link, .content h6 a:visited, .content h6 a:active { color: #0000FF; }
.content h1 a:hover, .content h2 a:hover, .content h3 a:hover, .content h4 a:hover, .content h5 a:hover, .content h6 a:hover { color: #000; }

#sponsors img {
  padding: 10px;
}

#sponsors a {
  text-decoration: none;
  border: none;
}

#sidebarspacer {
    padding: 20px 0 20px 0;
}

#sidebar
{
  float: right;
  padding-right: 10px;
  text-align: center;
}

#sidebar img {
  padding: 8px;
}

#sidebar h3 {
	margin: 2em 0 1em;
	padding-bottom: 5px;
	font-size: 1.6em;
	line-height: 1em;
	border-bottom: 1px solid #ddd;
}

#sidebar h3 {
	margin-top: 0;
	font-size: 1.3em;
	text-transform: uppercase;
}

#sidebar a:link, #sidebar a:visited, #sidebar a:active { color: #333399; }
#sidebar a:hover { color: #000; }
#sidebar h1, #sidebar h2, #sidebar h3, #sidebar h3 a:link, #sidebar h3 a:visited, #sidebar h3 a:active, #sidebar h4, #sidebar h5, #sidebar h6 { color: #3300FF; font-family: Georgia, Times New Roman, Times, serif; font-weight: bold; }
#sidebar h5 { font-family: Lucida Grande, Arial, Verdana, sans-serif; }

#footer
{
  float: left;
  width: 100%;
  text-align: left;
  background-color: #222;
  padding-top: 6px;
  padding-bottom: 4px;
  color: #888;
}

#flickr-photos div {
	float: left;
	display: inline;
	margin: 0 7px 25px 0;
}

#flickr-photos a {
	border: none;
}

#flickr-photos img {
	display: block;
	border: 1px solid #666;
}

#flickr-photos img:hover {
	border: 1px solid #000;
}

